<div class="card box-shadow v-card"  >
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <!-- <iframe
  [src]="getEmbedUrl()"
  frameborder="0"
  webkitallowfullscreen
  mozallowfullscreen
  allowfullscreen
  class="w-100"
  style="background-color: black;border-radius: .25rem;"
></iframe> -->
  <!-- <img style="width: 18rem;" class="lib-img-show" src="https://loremflickr.com/320/{{ 240 +  indx}}"> -->
  <img class="lib-img-show w-100" src="{{ vd.thumnail }}">

  <div class="card-body" style="display: none">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>