.box-shadow {
    -webkit-box-shadow: -1px 0px 33px -1px rgba(66,104,138,1);
    -moz-box-shadow: -1px 0px 33px -1px rgba(66,104,138,1);
    box-shadow: -1px 0px 33px -1px rgba(66,104,138,1);    
}

.v-card {
    /* width: 19rem; */
    height: 100%;
    width: 100%;
}

iframe {
    /* height: 15rem */
    /* height: 500px; */
    height: 100%;
    width: 100%;
}