<div class="pb-3 pt-4" *ngFor="let lst of videoList; let i = index">
    <div class="d-flex w-100">      
        <h4 class="float-left pl-3 w-90">{{ lst.category }}</h4>
        <button type="button" class="float-right btn w-10" (click)="goBack()">Back
        </button>
    </div>
    <!-- <div *ngIf="defaultVideo" class="container-fluid pt-4 d-flex w-100">
        <app-vd-card class="box-shadow w-100" style="height: 400px" [vd]="defaultVideo" [indx]="0"></app-vd-card>
    </div> -->
    <div id="collapseBasic_{{i}}" [collapse]="lst.isCollapsed">
        <div class="well well-lg">
            <div class="container-fluid mt-4" style="display: none">
                <div class="row">
                    <div class="col-md-5 lib-item" data-category="view">
                        <div class="lib-panel">
                            <div class="row box-shadow">
                                <div class="col-md-6">
                                    <img class="lib-img-show" src="https://loremflickr.com/g/320/240/paris">
                                </div>
                                <div class="col-md-6">
                                    <div class="lib-row lib-header">
                                        Example library
                                        <div class="lib-header-seperator"></div>
                                    </div>
                                    <div class="lib-row lib-desc">
                                        Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem
                                        ipsum
                                        dolor Lorem ipsum dolor
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid row mt-4 d-flex">
                <div class="col-md-9 p-0 m-0">
                        <div *ngIf="defaultVideo" class="container-fluid pt-4 d-flex w-100">
                                <app-vd-card class="box-shadow w-100" style="height: 500px" [vd]="defaultVideo" [indx]="0"></app-vd-card>
                            </div>
                </div>    
                <div class="col-md-3 p-0 m-0"   style="height: 600px; overflow-y: auto">
                <div class="pl-4 pt-4" *ngFor="let vd of lst.list; let i = index">
                    <!-- {{ vd | json }} -->
                    <!-- <app-vd-card class="box-shadow" [vd]="vd" [indx]="i"></app-vd-card> -->                    
                    <vd-player [vd]="vd" (playVideoEvent)="playSelectedVideo($event)"  [indx]="i"></vd-player>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>