/* You can add global styles to this file, and also import other style files */

body {
    background-color: lightblue !important;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}
